<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검증 페이지</title>
    <script th:inline="javascript">
        let httpRequest;
        console.log('test');
        window.onload = function() {
            const button = document.getElementById('check');
            httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = success;
            httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/oauth?code=' + [[${code}]]);

            httpRequest.send(null);


            // button.addEvListener('click', function() {
            //     console.log('event');
            //
            //     httpRequest = new XMLHttpRequest();
            //     httpRequest.onreadystatechange = success;
            //     httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/oauth?code=' + [[${code}]]);
            //
            //     httpRequest.send(null);
            // });
        }

        function success() {
            console.log('success');
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                console.log('done');
                if (httpRequest.status === 200) {
                    console.log('200');
                    console.log(httpRequest.responseText);
                    const token = httpRequest.getResponseHeader('Authorization').substring(7);

                    document.cookie = 'tk=' + token + '; path=/;';
                    console.log('token: ' + token);
                    window.location = 'http://localhost:8080/isedol-clip/';

                } else if(httpRequest.status === 401){
                    console.log('401');
                    console.log(httpRequest.responseText)
                } else {
                    alert('request에 뭔가 문제가 있어요.');
                }
            }
        }
    </script>
</head>
<body>
    테스트 페이지
    <span th:text="${code}"></span><br>


    <button id="check">check valid</button>

</body>
</html>