<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<script>
    let httpRequest;

    window.onload = function() {
        const jwt = document.cookie;
        console.log(jwt);

        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = verify;
        httpRequest.open('GET', 'http://localhost:8080/isedol-clip/verify');

        httpRequest.send(null);

        document.getElementById('category').addEventListener('click', function() {
            httpRequest = new XMLHttpRequest();
            const categoryName = document.getElementById('name').value;
            console.log('categoryName: ' + categoryName);
            const param = 'categoryName=' + categoryName;

            httpRequest.onreadystatechange = success;
            httpRequest.open('POST', 'http://localhost:8080/isedol-clip/api/user/category');
            httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            httpRequest.send(param);
        });

        document.getElementById('get-categorys').addEventListener('click', function() {
            httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = success;
            httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/user/categorys');
            httpRequest.send();
        });
    }

    function success() {
        console.log('success');
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            console.log('done');
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);
                // const token = httpRequest.getResponseHeader('Authorization').substring(7);

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText)
            } else {
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }

    function verify() {
        const div = document.getElementById('login-status');

        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            console.log('done');
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);
                div.innerHTML = '로그인됨';

            } else if(httpRequest.status === 401) {
                console.log('401');
                console.log(httpRequest.responseText)
                div.innerHTML = '로그아웃상태';

            } else {
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }
</script>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<button id="auth">auth</button>
<a href="https://id.twitch.tv/oauth2/authorize?client_id=riz806ynb687m6a7piyz3jyl4q4p3a&redirect_uri=http://localhost:8080/isedol-clip/after-login&scope=user:read:email&response_type=code">
    <button id="login">login</button>
</a>
<button id="category">make category</button>
<input type="text" id="name" size="10"><br>

<button id="get-categorys">getCategorys</button>
<hr>
<div id="login-status"></div>
</body>
</html>