<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<script>
    let httpRequest;

    window.onload = function() {

        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = verify;
        httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/verify');
        // httpRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        httpRequest.send(null);

        document.getElementById('category').addEventListener('click', function() {
            httpRequest = new XMLHttpRequest();
            const categoryName = document.getElementById('name').value;
            console.log('categoryName: ' + categoryName);
            const param = 'categoryName=' + categoryName;

            httpRequest.onreadystatechange = success;
            httpRequest.open('POST', 'http://localhost:8080/isedol-clip/api/user/category');
            httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            httpRequest.send(param);
        });

        document.getElementById('get-categorys').addEventListener('click', function() {
            httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = category;
            httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/user/categorys', false);
            httpRequest.send();

            addEvent();
        });

        document.getElementById('logout').addEventListener('click', function() {
            httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = logout;
            httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/logout');
            httpRequest.send();
        });

    }

    function logout() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);
                // document.cookie = 'tk=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
                document.cookie = 'tk=; path=/';

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText);
            } else {
                console.log(httpRequest.responseText);
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }

    function success() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);
                // const token = httpRequest.getResponseHeader('Authorization').substring(7);

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText);
            } else {
                console.log(httpRequest.responseText);
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }


    function verify() {
        const div = document.getElementById('login-status');

        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);
                div.innerHTML = '로그인됨';

            } else if(httpRequest.status === 400) {
                console.log('400');
                console.log(httpRequest.responseText)

                httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = refresh;
                httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/refresh');
                httpRequest.send();

            } else {
                console.log(httpRequest.responseText);
            }
        }
    }

    function refresh() {
        const div = document.getElementById('login-status');
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);

                const token = httpRequest.getResponseHeader('Authorization').substring(7);

                document.cookie = 'tk=' + token + '; path=/;';
                console.log('token: ' + token);
                div.innerHTML = '로그인됨';

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText)

                div.innerHTML = '로그아웃상태';
            } else {
                console.log(httpRequest.responseText);
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }

    function category() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                let wrapper = document.getElementById("category-wrapper");
                wrapper.innerHTML = '';
                console.log('200');
                console.log('category responseText: ' + httpRequest.responseText);

                const json = JSON.parse(httpRequest.responseText);
                json.dto.forEach(function(e) {
                    let category = document.createElement('div');
                    category.innerHTML = e.categoryName;
                    category.setAttribute('name', 'categorys')
                    category.id = e.id;
                    console.log('id: ' + e.id);

                    wrapper.appendChild(category);
                });

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText);
            } else {
                console.log(httpRequest.responseText);
                alert('request에 뭔가 문제가 있어요.');


            }
        }
    }

    function addEvent() {
        let categorys = document.getElementsByName('categorys');

        categorys.forEach(function(e) {
            e.addEventListener('click', function() {
                httpRequest = new XMLHttpRequest();

                httpRequest.onreadystatechange = clips;
                httpRequest.open('GET', 'http://localhost:8080/isedol-clip/api/user/category/' + e.id + '/clips');
                httpRequest.send();
            }, false)
        });
    }

    function clips() {
        console.log('success');
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
                console.log('200');
                console.log('responseText: ' + httpRequest.responseText);

            } else if(httpRequest.status === 401){
                console.log('401');
                console.log(httpRequest.responseText)

            } else {
                console.log(httpRequest.responseText);
                alert('request에 뭔가 문제가 있어요.');
            }
        }
    }
</script>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<button id="auth">auth</button>
<a href="https://id.twitch.tv/oauth2/authorize?client_id=riz806ynb687m6a7piyz3jyl4q4p3a&redirect_uri=http://localhost:8080/isedol-clip/after-login&scope=user:read:email&response_type=code">
    <button id="login">login</button>
</a>
<button id="category">make category</button>
<input type="text" id="name" size="10"><br>

<button id="get-categorys">getCategorys</button>
<br>
<button id="logout">logout</button>
<hr>
<div id="login-status"></div><br>
<div id="category-wrapper"></div>
<hr>
</body>
</html>