<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트 페이지</title>
</head>
<body>
    테스트 페이지
    <span th:text="${attr1}"></span><br>
    <span th:text="${attr2}"></span><br>

    <br><hr>
    <a href="https://id.twitch.tv/oauth2/authorize?client_id=riz806ynb687m6a7piyz3jyl4q4p3a&redirect_uri=http://localhost:8080/isedol-clip/after-login&scope=user:read:email&response_type=code">
    <button>트위치</button>
    </a>
<!--    https://id.twitch.tv/oauth2/authorize?client_id=d6g6o112aam5s8q2di888us9o3kuyh&force_verify=true&lang=ko&login_type=login&redirect_uri=https%3A%2F%2Fwww.twitch.tv%2Fpassport-callback&response_type=token&scope=user_read&state=%7B%22origin%22%3A%22full_page%22%2C%22next%22%3A%22https%3A%2F%2Fdev.twitch.tv%2Flogin%3Fnext%3Dhttps%253A%252F%252Fdev.twitch.tv%252F%22%2C%22nonce%22%3A%22d7a6364fcca9436d4f9e92ba5e44e72e%22%7D-->
</body>
</html>